.page-footer {
  background-color: $secondary-bgcolor;
  padding: 94px 0;
}
.page-footer__text {
  color: $primary-white-color;
  line-height: 2.14;
  letter-spacing: normal;
  max-width: 470px;
  margin: 0 auto 26px;
}
.page-footer__logo {
  display: block;
  margin: 0 auto;
}
